<!--<div *ngIf="currentMatch!=undefined">
  <div>{{currentMatch.homeTeam.name}} ({{currentMatch.scoreHomeTeam}} - {{currentMatch.scoreAwayTeam}}) {{currentMatch.awayTeam.name}} </div>
</div>-->
<div class="bodyComplete">
  
 
 <div class="prova">
  <div class="container">
      <form>  
          <div class="container">
            <input  placeholder="Search..."  min="1" max="38"  type="number" #numeroGiornata  placeholder="Numero giornata" />
            <div class="search">

            </div><br><br><br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button   type="button"  class="btn btn-primary" (click)="getPartiteGiornata(numeroGiornata.value) " >Ricerca</button>
          </div>
        </form>
        

    <div class="row">
        
      <div class="col2">
          
  

</div>
</div>
<div class="col2">
</div>
</div>
</div>
  <div *ngIf="giornantaCorrente!=undefined" >
    <br><br><br><br>
    <table class="table">
      <thead class="thead-dark" >
        <tr>
          <th scope="col">Giornata {{numeroGiornata.value}} </th>
          <th scope="col" align="center">Risultato</th>
        </tr>
      </thead>


        <tbody *ngFor="let g of giornantaCorrente.myMatches ;">
          <tr>
            <td>  {{g.homeTeam.name}} - {{g.awayTeam.name}} </td>
            <td align="center"> ({{g.scoreHomeTeam}} - {{g.scoreAwayTeam}})</td>
          </tr>
        </tbody>

    </table>
  </div>
</div>
