

<div *ngIf="currentTeam!= undefined">
  <br><br><br><br>
  <table class="table">
    <thead class="dark" >
      <tr>
        <th scope="col"> {{currentTeam.name}} </th>
        <th scope="col"> {{currentTeam.founded}} </th>
        <th scope="col">  </th>
        <th scope="col"> <img src={{currentTeam.crestUrl}} alt="Logo non trovato" height="90" width="90"> </th>
      </tr>
    </thead>

    <thead class="dark1" >
      <tr>
        <th scope="col"> Sede: </th>
        <th scope="col"> {{currentTeam.address}} </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        </tr>
    </thead>

    <thead class="dark2" >
      <tr>
        <th scope="col"> Numero telefonico:</th>
        <th scope="col"> {{currentTeam.phone}} </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        </tr>
    </thead>

    <thead class="dark3" >
        <tr>
          <th scope="col"> Email:</th>
          <th scope="col"> {{currentTeam.email}} </th>
          <th scope="col"> </th>
          <th scope="col"> </th>
        </tr>
      </thead>


      <thead class="dark4" >
          <tr>
            <th scope="col"> Coach:</th>
            <th scope="col">  {{currentTeam.coach}} </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
          </tr>
        </thead>

      <thead class="dark5" >
          <tr>
            <th scope="col"> Rosa squadra</th>
            <th scope="col">  Ruolo </th>
            <th scope="col">  Numero</th>
            <th scope="col">  Nazionalità </th>
          </tr>
        </thead>


    <tbody *ngFor="let player of currentTeam.squad">
        <tr>

          <td>  {{player.name}} </td>
          <td> {{player.position}} </td>
          <td> {{player.shirtnumber}} </td>
          <td> {{player.nationality}} </td>
        </tr>
      </tbody>

  </table>
</div>
