.table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }

  .table:nth-child(even) {background: rgba(241, 240, 240, 0.63)}
  div {
    margin-top:2%;
}