<div *ngIf="ranking!=undefined">
  <p>
  </p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome Squadra </th>
        <th scope="col" align="center">Punti</th>
        <th scope="col" align="center">Vittorie</th>
      </tr>
    </thead>
    <tbody *ngFor="let posizione of ranking.rankingObject">
      <tr>
        <td> {{posizione.team.name}}</td>
        <td align="center">{{posizione.points}}</td>
        <td align="center">{{posizione.won}}</td>
      </tr>
    </tbody>

  </table>
</div>