<div class="container">
  <div class="row">
    <div class="col-sm">
      <div style="text-align:center">

        <img width="200" alt="Football Schedule Logo" src="/assets/logo_transparent.png"><br>
        <button *ngIf="showButton == false" class="button2" (click)="toggleChild()">Ricerca per giornata</button>

      </div>
      <app-ranking (clickedTeam)="receiveMessage($event)"></app-ranking>

    </div>
    <div class="col-sm">

      <div *ngIf="message==undefined ||  loadComponent; else displayTeamDetails">
        <app-match></app-match>
      </div>
      <ng-template #displayTeamDetails>
        <app-team #appTeam [idTeam]="message"></app-team>
      </ng-template>

    </div>
  </div>
</div>
