<!--The content below is only a placeholder and can be replaced.-->


<div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="text-align:center">

          <img width="200" alt="Football Schedule Logo" src="/assets/logo_transparent.png">
          <button class="btn btn-warning" (click)="toggleChild()">RICERCA PER GIORNATA</button>
        </div>
        <app-ranking (clickedTeam)="receiveMessage($event)"></app-ranking>

      </div>
      <div class="col-sm">

        <div *ngIf="message==undefined ||  loadComponent; else displayTeamDetails"> <app-match></app-match> </div>
            <ng-template #displayTeamDetails><app-team #appTeam [idTeam]="message"></app-team></ng-template>



      </div>
      <!--
        <app-match></app-match>

        <div class="col-sm">
        LISTA SQUADRE {{message}}
        <app-team [idTeam]="message"></app-team>


      </div>-->
    </div>
  </div>
